*.log
testdata
*.env
problem.md
frontend/electricity_chart.html
TODO.md
implementation_plan.md
*.dbdiagram
develop_docs
scripts/
.vscode/
.ansible
ansible/
k8s/cnpg/backup-secret.yaml
k8s/minio/minio-secret.yaml
k8s/eleclog-secret.yaml